*{
    margin: 0; padding: 0 ;
    box-sizing: 0 ;
}

.header{
    background: url(../images/img1.png), url(../images/img2.png);
    background-repeat: no-repeat;
    background-size: 50% 100%, 50% 100%;
    background-position: left center, right center;

}
.future{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
text-transform: uppercase;
color: #57B8FF;
}
.unleash{
  
position: absolute;
height: 258px;
left: 0%;
right: 0.61%;
top: -2px;

font-family: 'Orbitron';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 86px;
/* or 119% */

text-transform: capitalize;

color: #FFFFFF;


}
.lorem{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #999999;
margin-top: 45px;
}
.explore{
    background: #57B8FF;
    border-radius: 0px;
    margin-top: 53px;
    
}
nav{
    
    text-align: center;

    display: inline-block;
    
    Width: 1440px;
    max-width: 1440px;
    
}
.navright{
    gap: 60px;

}
.navleft{
    margin: 40px;
    padding-top: 40px;
}
.asa{
    background-color: #FDD04A;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: 100%;

}.mn a{
    
    gap: 50px;
}
nav p{
    margin: 40px;
}
.ss{
    background: url(../images/bk.png);
    background-size: 100%;
}
.ss p{
    font-weight: 400;
font-size: 16px;
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: #57B8FF;
}
.ss h1{
    font-weight: 400;
font-size: 64px;
line-height: 74px;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
}
.ss a{
    font-weight: 400;
font-size: 20px;
line-height: 32px;
text-align: center;
color: rgba(223, 223, 223, 0.8);
margin-top: 40px;
margin: 40px;
}
.ff p{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
text-transform: uppercase;
color: #57B8FF;
}
.ff h1{

font-weight: 400;
font-size: 64px;
line-height: 74px;
text-transform: capitalize;
color: #FFFFFF;
margin-top: 22px;
}
.ff a{
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: rgba(223, 223, 223, 0.8);
margin-top: 38px;
}
.ff{
    background: black;
}
.nav a{
    border-radius: 0;
    padding: 21px 34px ;
}
.ff p{
    font-weight: 400;
font-size: 16px;
line-height: 16px;
text-transform: uppercase;
color: #57B8FF;
}
.ff h1{font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    text-transform: capitalize;
    color: #FFFFFF;

}
.ff a{
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: rgba(223, 223, 223, 0.8);
}

.mm{
    background: #57B8FF;
    border-radius: 0px;
    padding-top: 21px 34px;
}
.li{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-transform: capitalize;
color: #FFFFFF;
}
.asa img p{text-align: center;}
.zz{
    background: black;
}
.zz p{font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;  
    color: #57B8FF;

}
.zz h1{
    font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 74px;
text-transform: capitalize;
color: #FFFFFF;

}
.pp{
    background: #FDD04A;
}
.pp h1{
    font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 82px;
/* or 114% */

text-align: center;

color: #141820;
}
.pp p{
    font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 28px;
/* identical to box height, or 165% */

text-align: center;

color: #555555;
}